{
  "useTabs": true,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "noSemi": false,
  "rcVerbose": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf"
}
